body {
    margin: 0px;
    background-color: #000000;
}

#canvas {
    display: block;
    margin: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    font-smooth: never;
    -webkit-font-smoothing : none;
}